@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.quiz-front body {
    font-family: Inter, Arial;
    margin: 0;
    display:flex;
}



.l-quiz-entry {
    width: 50%;
}

.l-quiz-entry img {
    width: 100%;
}
.r-quiz-entry {
    width: 50%;
    background-color: #F9F7F5;
    text-align: center;
}

.r-quiz-entry div {
    padding: 6%;
}
.r-quiz-entry img {
    max-width: 150px;
    float: right;
}

.r-quiz-entry h1 {
 font-size: 48px;
 font-weight: bold;
 margin-top: 20%;
 margin-bottom: 3%;
}

.r-quiz-entry p {
    margin: 10px auto 40px;
    max-width: 75%;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

.form-entry-cta{
    text-decoration: none;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 30px;
    border-style: none;
    padding: 15px 40px;
    background-color: #f8704b ;
    color: white;
    cursor:pointer;
    transition: .15s;
    
}

.form-entry-cta:hover {
    background-color: #36725E;
    color: white;
}


.form-entry-cta:active {
    opacity: 80%;
}
