@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Inter, Arial;
    margin: 0 auto; 
    max-width: 1512px; 
    min-width: 1440px;
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: 0.15s;
}

a:hover {
    color:#c3583b;
}

h2 {
  font-size: 32px;  
  font-weight: 400;
  text-align: center;
}


/* hero section */

.hero-sec {
    display:flex;
    background-color: #F9F7F5;
    margin-left: 60px; 
    margin-right: 60px;
    border-radius: 30px;
    max-width: 100%;
}

.l-hero-sec {
    flex: 1;
    padding: 60px 0px 60px 44px;
    width: 49%;
   
}
.l-hero-sec-top h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #0B2027;
    line-height: 125%;
}

.l-hero-sec-top h1 span {
    color:#33725d;
}

.l-hero-sec-top p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    line-height: 150%;
    width: 90%;
    color: #474747;
    margin-bottom: 40px;
}
.r-hero-sec {
    padding: 30px 20px 20px 0px;
    width: 51%;
    max-width: 680px;
}


.r-hero-sec img {
    width: 100%; 
    padding:0;
  
}

.hero-cta-btn {
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    border-style: none;
    padding: 15px 35px;
    background-color: #f8704b ;
    color: white;
    cursor:pointer;
    transition: .15s;
    
}

.hero-cta-btn:hover {
    background-color: #36725E;
    color: white;
}


.hero-cta-btn:active {
    opacity: 80%;
}

.hero-trustmarks {
    display: flex;
    margin-top: 80px;
    
}


.hero-trustmarks span {
    margin-right: 30px;
    width: 100px;
}

.trust-h {
    font-size: 24px;
    font-weight: 600;
    color: #404044 ;
    margin-bottom: 4px;
}

.trust-p {
    font-size: 14px;
    color:#5F5F5F;
    font-weight: 400;
    margin-top: 0;
}


/* below is main content styling */

/* How it works section styling */

.HiW-content {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    padding-left: 90px; 
    padding-right: 90px;
}

.HiW-sec {
    display: flex;
    padding: 0px 45px;
    margin-top: 65px;
    margin-bottom: 50px;
}

.HiW-sec-div {
    max-width: 315px;
    margin: auto;
    
}

.HiW-sec-img img {
    width: 85%;
    margin-bottom: 10px;
}

.HiW-sec-H {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.HiW-sec-p {
    font-size: 16px;
    font-weight: 300;
    line-height: 145%;
    margin-top: 0;
} 


.basic-btn {
    height: 40px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 30px;
    border-style: solid;
    border-color: #0b2720;
    border-width: 1px;
    padding: 12px 30px;
    color:#0B2027;
    cursor:pointer;
    transition: .15s;
    
}

.basic-btn:hover {
    opacity: 80%;
    background-color: #0b2720;
    color: white;
    
}

/* Benefits section */


.B-sec{
    display:flex;
    background-color: #F9F7F5;
    max-width: 100%;
    padding: 70px 110px;
    align-items: center;

}

.B-sec-left img {
    width: 500px;
}

.B-sec-right {
    max-height: 600px;
    margin-left: 5%;
    padding: 30px;
}

.B-sec-right h2 {
    text-align: left;
    margin-top: 0;
}

.B-sec-main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: top;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 60px; 
}

.B-div {
    width: 45%; /* or any other desired width */
    padding: 10px;
    margin-bottom: 30px;
}

.B-div img{
    width: 44px;
  
}

.B-div h3 {
    margin-top:9px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}

.B-div p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 145%;
}


/* Review section */
.review-sec {
 padding: 0px 110px;
 margin-top: 120px;
}

.review-sec-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*left side of testimonial heading */

.review-sec-top-l {
    width: 580px;
}

.review-sec-top-l h2 {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
}
.review-sec-top-l p {
    font-size: 22px;
    font-weight: 200;
    line-height: 140%;
    margin-top: 0;
}

/* right side of testimonal heading */

.review-sec-top-r {
    display: inherit;
    align-items: center;
}

.review-sec-top-r-text {
    display: inline-block;
    max-width: 190px;
    margin-left: 20px;  
    padding-top: 10px;
}

.review-sec-top-r img {
    width: 200px;
}

.review-sec-top-r h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 0;
}

.review-sec-top-r p{
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
}

/* testimonal cards css */
.review-sec-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 55px;
    padding: 0px 0px;
}

.review-sec-bottom img {
    width: 370px;
    height: auto;
    object-fit: cover;

}


/* Bottom CTA section */
.cta-bottom img {
  width: 100%;
  display: block;
}

.cta-bottom {
    width: 88%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
  }

  .cta-content {
        position: absolute;
        top: 20%;
        left: 22%;
        max-width: 45%;
  }

  .cta-content h2 {
    font-size: 44px;
    font-weight: 700;
    text-align: left;
    line-height: 120%;
    margin-bottom: 15px;
    color:#0B2027
  }

  .cta-content p {
    font-size: 24px;
    font-weight: 400;
    line-height: 133%;
    margin-top: 0;
    margin-bottom: 30px;
    color: #474747;
  }
  
  .cta-content a {
    height: 40px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 30px;
    border-style: none;
    background-color: #33725d;
    padding: 12px 30px;
    color: white;
    cursor:pointer;
    transition: .15s;
}

.cta-content a:hover {
    opacity: 85%; 
    background-color: #0b2720;
    color: white;
}


/* FAQ section */
.faq-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.faq-section h2 {
    margin: 0;
    margin-right: 9%;
    font-weight: 500;
    text-align: left;

}


.faq-container {
    width: 100%;
    max-width: 800px;
}

.faq-item {
    margin-bottom: 0;
}

.faq-question {
    display: flex;
    align-items: center;
    max-height: 60px;
}

.faq-question h3 {
    font-size: 18px;
    font-weight: 300;
    margin-left: 15px;

}

.faq-toggle {
    background-color: white;
    border: none;
    cursor: pointer;
}
  
/* .faq-answer {
    max-height: 0;
    font-weight: 300;
    overflow: hidden;
    padding-left: 30px;
    margin: 0;
    transition: max-height 0.3s ease-out;
} */

.faq-answer.active {
    font-weight: 300;
    padding-left: 30px;
    overflow: hidden;
    margin: 0;
    transition: max-height 0.3s ease-out;
    display: block;
}

.faq-answer.inactive {
    max-height: 0;
    font-weight: 300;
    overflow: hidden;
    padding-left: 30px;
    margin: 0;
    transition: max-height 0.3s ease-out;
    /* display: none; */
}

.faq-answer a {
    color:#33725d
}

.faq-answer a:hover {
    color:#c3583b
}


.CalorieCounter {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
  }
  
  .CalorieCounter p {
      width: 800px;
      margin: auto;
      font-size:  18px;
      margin-bottom: 50px;
  }
  
  .calorie-calc-form {
      border-style: solid;
      border-color: #faae4b ;
      border-width: 1.5px;
      border-radius: 30px;
      padding: 40px;
      width: max-content;
      margin: auto;
  }
  
  
  #meal-item, #calories, #intake-item, #quantity{
      height: 40px;
      width: 200px;
      border-style: none; 
      border-bottom-style: solid; 
      margin-right: 20px;
      padding-left: 10px;
      font-size: 18px;
  }
  
  #quantity, #calories {
      width: 90px;
  }
  
  
  label {
      font-weight: 500;
  }
  
  #add-meal-item, #add-to-intake, #remove-from-intake  {
      background-color: #faae4b;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      margin-top: 30px;
  }
  
  #add-meal-item:hover, #add-to-intake:hover, #remove-from-intake:hover {
      background-color: #fab55b;
  
  }
  
  #add-meal-item:active, #add-to-intake:active, #remove-from-intake:active {
      background-color: #fad6a8;
  
  }
  
  .meal-input-section {
      margin-bottom: 70px;
  }
  
  .total-cal {
      margin-top: 40px;
  }
  
  .total-cal p {
      font-size: 20px;
      font-weight: 600;
  }
  
  #update-menu-section {
      margin-bottom: 80px;
  }